
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="center hero-unit">
  <h1>Welcome to the first Belgium SVOD service</h1>
  <br>
  <h2>
    Watch Movies & TV Show Online or Streaming right to your TV or your Smartphone.
    <br>
    Only 10€/mo.
  </h2>

  <div class="fb-like" data-href="http://localhost:3000/" data-send="true" data-width="450" data-show-faces="true"></div>

  <div class="fb-comments" data-href="http://example.com" data-num-posts="2" data-width="470"></div>

  <!--<table>
      <tr>
        <td><%= link_to image_tag("BBT.png", alt: "Rails"), '#' %></td>
        <td><%= link_to image_tag("Gladiator.jpg", alt: "Rails"), '#' %></td>
        <td><%= link_to image_tag("HIMYM.png", alt: "Rails"), '#' %></td>
      </tr>
  </table>-->

  <br><br><br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>