<div id="suggestions" class="menu-container">
  <ul class="nav nav-list">
    <li class="nav-header">Saison actuelle :
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
        Saison 3
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Saison 1", "update_video_collection" %></li>
        <li><%= link_to "Saison 2", "update_video_collection" %></li>
      </ul>
    </div>
    </li>
    <br>
    <% @videosCollection.each do |v| %>
        <% if v.position == 1 %>
            <li id="s<%= v.id %>" class="active"><a href="javascript:void(0)" onclick="LoadVideo('<%= escape_javascript(v.to_json) %>')"><%= render v %></a></li>
        <% else %>
            <li id="s<%= v.id %>"><a href="javascript:void(0)" onclick="LoadVideo('<%= escape_javascript(v.to_json) %>')"><%= render v %></a></li>
        <% end %>
  <% end %>

  <li class="divider"></li>
  <li class="nav-header">Suggestions</li>
    <% @videosSuggestion.each do |v| %>
        <li><a href="#"><%= render v %></a></li>
    <% end %>
  </ul>



</div>